body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #007bff !important;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    height: 100%;
    align-content: center;
}

form {
    padding: 10px;
}
